#  What is programming?

#### Program is a set of instructions that tells a computer what to do.

#### Syntax:- Rules for how a sentence is constructed.

#### Semantics:- Actual meaning of statement.

####  Script:- Is a program that is short, simple and can be written very quickly.

# What is automation?

#### Automation is a process to remove the manual process.

####  Function:- Pieces of code that perform a unit of work. Like print() function

####  Keywords:- Reserved words that are used to perform a specific purpose. Like IF, WHILE and FOR.

# Data Types:- Kind of values that can be stored and manipulated.

####  String written between quotes. Like 'Aman', '5' etc.

In [2]:
print("hello world")

hello world

####  Integers:- Whole number without fraction. Like 1, 524 etc.

In [3]:
print(524)

524

#### Float:- No. with a fractional part. Like 2.5, 8.2 etc.

In [4]:
print(7.2)

7.2

# Variables:- Names that we give to certain values in our programs.

####  Assignment:- Process of storing a value inside a variable.

In [5]:
Length= 10 #length= Variable and 10= Assignment.

#### Variable naming restrictions:-

In [7]:
# Don't use keywords or functions that are reserved. Like def='python'
# Don't use spaces. Like my name= 'avinash'
# Must start with a letter or an underscore (_). Like my_name= 'avinash' or _my_name= 'avinash'
# Must be made up of only letters, Nos. and underscore (_).
# variables are case sensitive. Like My_name and my_name both are different

# Arithmetic Operations:- Numeric value can be computed with arithmetic operations:-

In [8]:
2+3 #add the number

5

In [9]:
10-8 #subtract the number

2

In [10]:
8*8 # multiply the number

64

In [11]:
10/2 # divide the number and give float value

5.0

In [13]:
10//2 # divide the number but give the integer value.

5

In [14]:
10%2 #Gives remainder of the expression.

0

In [15]:
10**2 #Gives the exponent value.

100

####  Arithmetic operations has following precedence:-

In [16]:
# Highest ()
# Second **
# Third *, /, //, %
# Lowest +, -

# FUNCTIONS

In [21]:
def greeting(name): #Function name= greeting, name= parameter
              print("welcome, " + name) # print("welcome, " + name)= body of function.
greeting("kay")

welcome, kay

### Returning values

In [22]:
# Use this when we use value several times in our code.
# The return keyword acts like a variable.

In [24]:
def area_triangle( base, height): #defining function
              return base*height/2 #Body of the function
area_a= area_triangle(5, 4)
area_b= area_triangle(7, 3)
sum= area_a + area_b
print("the sum of both area is :" +str(sum))

the sum of both area is :20.5

# CONDITIONALS

### Boolean:- One of two possible states either true or false.

###  Logical operators:

In [30]:
# AND:- Both the Conditions should be true.
x=5
print(x < 5 and  x < 10)

False

In [31]:
# OR:- Either of the Conditions should be satisfied.
x=5
print(x < 5 or x < 4)

False

In [32]:
# NOT:- Inverts the value of the expression.
x=5
print(not(x < 5 and x < 10))

True

###  Comparison operators:- Compare values

In [33]:
# == (equality)
x = 5
y = 3
print(x == y)

False

In [34]:
# != (not equal to)
x = 5
y = 3
print(x != y)

True

In [35]:
#  > (greater than)
x = 5
y = 3
print(x > y)

True

In [36]:
# < (less than)
x = 5
y = 3
print(x < y)

False

In [37]:
# >= (greater than or equal to)
x = 5
y = 3
print(x >= y)

True

In [38]:
#  <= (less than or equal to)
x = 5
y = 3
print(x <= y)

False

##  Branching with if Statements

#### Branching:- Ability of a program to alter its execution sequence.

In [51]:
def hint_username(username):
            if len(username) <4:
                print("invalid username. Must be at least 4 characters long") 
hint_username("Jay")

invalid username. Must be at least 3 characters long

## Else Statements

In [54]:
def hint_username(username):
        if len( username) <3:
            print("invalid username. Must be at least 3 characters long")
        else:
            print("valid username")
hint_username("Avinash")

valid username

## Elif statements ( else if)

In [55]:
def hint_username (username):
        if len(username) < 3:
            print(" Invalid username. Must be at least 3 characters long")
        elif len(username) > 15:
            print("Invalid username. Must be atmost 15 characters long")
        else:
            print("Valid username")
hint_username("avinash")

Valid username

# WHILE LOOPS

In [ ]:
# Instruct your computer to continuously execute your code based on the value of a condition.

In [60]:
x= 0 #initial value to a variable
while x<5: #Loop condition
    print("not there yet, x=" + str(x)) #body of while loop
    x= x+1 #increment the value of x by 1
print("x=" + str(x))

not there yet, x=0
not there yet, x=1
not there yet, x=2
not there yet, x=3
not there yet, x=4
x=5

# For loop

In [61]:
#Iterates over a sequence of values

In [62]:
for x in range(5):
    print(x)

0
1
2
3
4

##  Nested for Loops

In [63]:
for left in range (7): # iterate over numbers from 0 to 6
    for right in range (left, 7): #iterate over numbers from the value of left to 6 and assign each number to the variable right
        print("[" + str(left) + "I" + str(right) + "]", end=" ")
    print()

[0I0] [0I1] [0I2] [0I3] [0I4] [0I5] [0I6]
[1I1] [1I2] [1I3] [1I4] [1I5] [1I6]
[2I2] [2I3] [2I4] [2I5] [2I6]
[3I3] [3I4] [3I5] [3I6]
[4I4] [4I5] [4I6]
[5I5] [5I6]
[6I6]

# STRINGS

In [ ]:
# Data type that is writtten between single or double quotes

In [1]:
print("Gold")

Gold

### Indexing:- Accessing individual characters within a string by their position or index.

In [2]:
name= "jaylen"
print(name[1]) #indexing start with 0 not with 1.

a

### Negative indexes:- Access characters in a string from the end rather than the beginning. Start from the -1.

In [3]:
name= "jaylen"
print(name[-1])

n

### Slice:- Portion of a string that can contain more than one character

In [4]:
color= "orange"
color[1:4] # Retrun element from 1 t0 3

'ran'

In [5]:
fruit= 'pineapple'
print( fruit [ :4]) #retrun element from start to 3rd index

pine

In [6]:
fruit= 'pineapple'
print( fruit [4:]) #return element from 4th till end

apple

### To get the index of a certain character we use a method.

In [7]:
pets= "cats & dogs"
pets.index("&") #return index number of &

5

### IN keyword

In [9]:
pets= "cats & dogs"
"cats" in pets #retrun true if it is available.

True

### String Methods

In [10]:
"mountain".upper() #return the string in uppercase

'MOUNTAIN'

In [11]:
"Mountain".lower() #return the string in lowercase

'mountain'

In [12]:
" python ".strip() #remove white spaces from the string

'python'

In [13]:
"python ".rstrip() #remove space from right side of the string

'python'

In [14]:
" python".lstrip() #remove space from left side of the sting

'python'

In [15]:
"forest".isnumeric() #check if string is numeric or not

False

### Formatting Strings

In [ ]:
# format():-Function used to format strings in a specified manner.

In [20]:
name= "manny"
number= len(name)*3
print("hello {}, your lucky number is {}". format(name, number))

hello manny, your lucky number is 15

# LISTS

In [ ]:
#  Data structure that stores a collection of items in a specific order.

In [21]:
x= ["now", "we", "are", "cooking!"]
print(x)

['now', 'we', 'are', 'cooking!']

### Modifying the Contents of a List

In [28]:
fruits= ["pineapple", "banana", "apple", "melon"]
fruits.append("kiwi") #add kiwi at the end of the list
fruits

['pineapple', 'banana', 'apple', 'melon', 'kiwi']

In [29]:
fruits.insert(0, "orange") #insert orange at 0 index
fruits

['orange', 'pineapple', 'banana', 'apple', 'melon', 'kiwi']

In [30]:
fruits.remove("melon") #remove melon from the list
fruits

['orange', 'pineapple', 'banana', 'apple', 'kiwi']

In [31]:
fruits.pop(3) #remove element from the 3rd index
fruits

['orange', 'pineapple', 'banana', 'kiwi']

In [32]:
fruits [2]= "strawberry" #change 2nd index value with strawberry
fruits

['orange', 'pineapple', 'strawberry', 'kiwi']

### List Comprehensions

In [ ]:
#  List comprehensions let us create new lists based on sequences or ranges.

In [1]:
multiples= [x*7 for x in range(1,11)]
print(multiples)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

# DICTIONARIES

In [ ]:
# A data structure that stores data in key-value pairs

In [2]:
dict= {"jpg":10, "txt":14, "csv":4, "py":25}
dict

{'jpg': 10, 'txt': 14, 'csv': 4, 'py': 25}

In [3]:
dict["txt"] #return corresponding value of txt

14

In [10]:
dict["cfg"]= 8 #add cfg with value 8 in the dict
dict

{'jpg': 10, 'txt': 14, 'csv': 4, 'py': 25, 'cfg': 8}

In [11]:
del dict["cfg"] #delete cfg entry from the dict
dict

{'jpg': 10, 'txt': 14, 'csv': 4, 'py': 25}

### Iterating over the Contents of a Dictionary

In [12]:
for x in dict: #return the keys of dictionary
    print(x)

jpg
txt
csv
py

In [2]:
dict = {"jpg": 10, "txt": 14, "csv": 4, "py": 25}
for x, y in dict.items(): #return keys and values of dictionary
    print(x, y)

jpg 10
txt 14
csv 4
py 25